body{
    background: red;
    margin: 0;
}

#main-div{
    background-image: "url(../../Pictures/_MG_0146.JPG)";
    width: 70%;
    height: 600px;
    margin-left: 15%;
}

#name{
    color: black;
    text-align: center;
    border: solid black 5px;
    font: 'serif';
}

img{
    width:300px;
}
