body{
    background: #FE724C;
    margin: 0;
}

#main-div{
    background: #2f0aeb;
    width: 70%px;
    height: 600px;
    margin-left: 15%;
}

#name{
    color:#ffffff;
    text-align: center;
    border: solid #000000 5px;
    /*margin-top: 10px; */
    padding-top: 25px;
    font:'serif';
}
